.main{
    flex: 0 1 70%;
}

.info {

}
.image {
    display: inline-block;
    border-radius: 50px;
    background-color: #d7ecff;
    margin: 0 0 20px 0;
}

.header {
    display: flex;
}

.heading {

}
