.header{
    display:flex;
    flex-wrap:wrap;
    align-self: baseline;
    justify-content: space-around;
    background: #d7ecff;
    margin-bottom: 30px;

}
.logo {
    width: 150px;
    align-self: start;
}
.heading{
    align-self: end;
}
